# Auto detect text files and perform LF normalization
* text=auto
*.java linguist-detectable=true
*.html linguist-detectable=false
*.htm inguist-detectable=false
public/libs/* linguist-vendored
scot-ui/public/libs/ linguist-vendored
docs/* linguist-documentation
