<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Auctioneer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42b0f28d87.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<body>
<nav class="navbar nav-white d-flex align-items-center justify-content-around my__line sticky-top">
    <div class="title-container d-flex align-items-center flex-row">
        <a class="my__nav__link font-lg my__logo" href="/auctioneer/0"><span class="fas fa-lg fa-gavel"></span> Auctioneer</a>
        <form class="form-inline my-2 my-lg-0" method="post" action="/auctioneer/search/0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        </form>
    </div>

    <div class="nav-content-container d-flex flex-row align-items-center">
        <a class="my__nav__link mr-5 text-light" href="/auctioneer/mybids">My Bids</a>
        <a class="my__nav__link mr-5 text-light" href="/auctioneer/myauctions">My Auctions</a>
        <a class="my__nav__link text-light" href="/auctioneer/create">Create Auction</a>
        <form id="logoutForm ml-5" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="submit" value="Logout" class="btn w-200 btn--logout">
        </form>
    </div>
</nav>

<div class="myWrapper">

    <!-- Modal -->
    <div class="modal fade mt-5" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-col-main">
                    <h5 class="modal-title" id="exampleModalLabel">Current Bids <span class="fas fa-lg fa-gavel"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Bidder</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Auction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bid : ${bids}">
                            <td th:text="${bid.getBidOwner().getUsername()}"></td>
                            <td th:text="${bid.getBidPrice()}"></td>
                            <td th:text="${auction.getItem().getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn w-30" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="categ-container">
            <a class="my__nav__link link--category mt-3" href="/auctioneer/vehicles/0"><span class="fas fa-car"></span> Vehicles</a>
            <a class="my__nav__link link--category" href="/auctioneer/music/0"><span class="fas fa-guitar"></span> Music instruments</a>
            <a class="my__nav__link link--category" href="/auctioneer/games/0"><span class="fas fa-gamepad"></span> Games & Consoles</a>
            <a class="my__nav__link link--category" href="/auctioneer/electronics/0"><span class="fas fa-plug"></span> Electronics</a>
            <a class="my__nav__link link--category" href="/auctioneer/animals/0"><span class="fas fa-dog"></span> Animals</a>
            <a class="my__nav__link link--category mb-3" href="/auctioneer/clothes/0"><span class="fas fa-tshirt"></span> Clothes & Accessories</a>
        </div>

        <div class="items-container">
            <div class="title-container-home">
                <button onclick="goBack()" class="btn btn--back"><i class="fa fa-arrow-circle-left"></i></button>
                <p th:class="${class}" th:text="${msg}"></p>
            </div>
            <div class="auction-container mt-5">
                <div class="auction-50-container align-items-center">
                    <div class="start-wrapper">
                        <h2 class="mb-5" th:text="${title}"></h2>
                    <p class="font-weight-bold mt-5">Expires: <span class="text-success" id="countDown"></span></p>
                    <p id="timeLeft" th:text="${auction.getEndsAt()}" hidden></p>
                    <p class="font-weight-bold">Highest bid: <span class="font-weight-normal" th:text="${hasBid} ? ${highestBid} : 'No bids yet..'"></span> $</p>
                        <p class="font-weight-bold">Starting price: <span class="font-weight-normal" th:text="${auction.getStartingPrice()}"></span> $</p>
                        <p class="font-weight-bold">[ <a href="#" th:text="${numBids}+' bids'" type="button" data-toggle="modal" data-target="#bidModal"></a> ]</p>
                    <form class="p-0" action="/auctioneer/bid" method="post">
                    <div class="form-group">
                        <input type="number" name="bid" id="bid" class="form-control p-0 w-100" th:value="${highestBid}+1">
                        <input type="hidden" name="id" th:value="${auction.getAuctionId()}">
                    </div>
                    <button type="submit" class="btn w-100">Place bid</button>
                    </form>
                    </div>
                </div>
                <div class="auction-50-container align-items-start justify-content-center">
                    <div class="item-img-container">
                        <img class="contain" th:src="${auction.getItem().getImg()}" alt="">
                    </div>
                </div>
                <div class="auction-100-container">
                    <p class="mt-2 font-weight-bold">Description: </p>
                    <p class="mt-2" th:text="${auction.getItem().getDescription()}"></p>
                </div>
        </div>
    </div>
</div>
    <script>
        function goBack(){
            window.history.back();
        }

        // Set the date we're counting down to
        var timeLeft = document.getElementById("timeLeft").innerText;
        var countDownDate = new Date(timeLeft).getTime();
        var x = setInterval(function() {

            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if(days < 1){
                document.getElementById("countDown").classList.add("text-danger");
            }
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countDown").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
</body>
</html>